@import url('styles.css');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url(bookingstyles.css);
@import url(index.css);


.container {
            display: grid;
            grid-template-columns: repeat(3, 400px);
            grid-template-rows: 1fr;
            /*  1fr auto auto */
            gap: 15px; 
            background-color: var(--liblue);
            justify-content: center;
            /* margin-top: 50px; */
            padding-bottom: 100px;
      
        

        }

    .title-amenities{
        display: flex;
        background-color: var(--liblue);
        font-size: var(--textbody);
        /* flex-wrap: wrap;
        flex: 1 1 50%; */
        font-weight: 300;
        /* justify-content: center; */
        align-items: center;
        padding-bottom: 50px;



        
    }

    .amenities{
      
        font-weight: 600;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        display: block; width: 100%;
        padding-top: 50px


         

    }
  

        img {
            width: 100%;
            height: 100%; 
            object-fit: contain;
            object-position: top;
            max-width: fit-content;
            max-height: fit-content;
            padding-bottom: 10px;
         
}

        .box-top { 
            flex-wrap: wrap;
            width: 400px;
            height: 100%;
            background-color:var(--white);
            border-radius: 24px; 
            border-color: black 20px;
            margin:auto;
            /* margin-top: 100px; */
            /* border-style: thin; */
            border: 1px solid;
            
        }

        .stor-text{

            /* font-size: 30px; */
            font-size: 28px;
            font-family: var(--font-base);
            padding: 9px;
            /* margin-top: 50%; */
            margin:0;
            font-weight: 400;

        }
        
        .liten-text{
            font: var(--font-base);
            font-size: var(--text-body);
            position: relative;
            display: inline-block;
            padding: 9px; 
            bottom: 15px;
        

        }

  


        

        .box-bottom{
            flex-wrap: wrap;
            width: 400px;
            height: 100%;
            background-color:var(--white);
            border-radius: 24px; 
            border-color: black 20px;
            margin:auto;
            border: 1px solid;
        }







 footer {
    background-color: var(--dkblue); 
    padding: 60px 80px 30px;
    font-family: var(--font-base);
    font-size: var(--text-f);
    /* max-width: 1240px;
    margin: 0 auto; */
} 


.footer-container {
    display: grid;
    
    grid-template-columns: 1fr auto auto;
    gap: 100px; 
 
} 




.brand-info {
    max-width: 350px;
}

/* .logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
} */


.logo-image {
    width: 100px; 
    height: 100px; 
    /* border-radius: 50%;  */
    /* margin-bottom: 10px; 
    object-fit: cover;
    max-width: 100%; */
    aspect-ratio: 1 / 1;

}

.company-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}


 /* .tagline {
    color: var(--accent-color);
    font-size: 10px;
    margin-top: 4px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}  */

.description {
    font-size: 12px;
    margin-top: 30px;
    line-height: 1.6;
    color: var(--white);
}

/* --- Contact --- */
h4 {
    /* color: var(--text-light); */
    margin-bottom: 20px;
    font-size: 16px;
    font-family: var(--font-base);
    color: var(--white);
}

.contact-section p, .links-section li {
    font-size: 12px;
    /* color: var(--text-faded); */
    margin: 10px 0;
    line-height: 1.4;
    color: var(--white);
}

.links-section ul {
    list-style: none;
    padding: 0;
}

.links-section a {
    color: inherit;
    text-decoration: none;
}


.footer-bottom {
    text-align: center;
    margin-top: 50px;

}

.footer-bottom hr {
    border: none;
    /* border-top: 1px solid var(--text-faded); */
    border: 0.3px solid var(--white);
    border-bottom: none;

    margin-bottom: 20px;
    
}

.footer-bottom p {
    font-size: 12px;

    
    color: var(--white);
}


 @media (max-width: 768px) {

    .container{

  grid-template-columns: 1fr; 
        gap: 10px;
        padding: 10px 5%;

    }


    .footer-container {
        grid-template-columns: 1fr; 
        gap: 40px;
        padding: 40px 5%;
    }

    footer {
        padding: 40px 5% 30px;
    }

} 