@import url('styles.css');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url(bookingstyles.css);
@import url(index.css);


.about{

    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/assets/photos/Nya/Environment.jpg);
    width: 100%;
    height: 100%;
    padding: 0 7%;
    display: table;
    background-repeat: no-repeat;
    background-size: cover;
    object-position: center;
    text-align: center;
    


}

.container {
            display: grid;
            grid-template-columns: repeat(3, 400px);
            width: 100%;
            grid-template-rows: 3fr auto auto;
            gap: 15px; 
            background-color: var(--liblue);
            justify-content: center;
            padding-bottom: 100px;
            padding: 15px;
            place-items: center;
            align-items: flex-start;


        }





    



    .title-amenities{
        display: flex;
        background-color: var(--liblue);
        font-size: var(--textbody);
        font-weight: 300;
        align-items: center;
        padding-bottom: 50px;



        
    }

    .amenities{
      
        font-weight: 600;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        display: block; width: 100%;
        padding-top: 50px





}     

  

       .container img {
            width: 100%;
            height: 15rem;
            object-fit: cover;
            margin:auto;
            border-radius: 19px 19px 0 0;
            border: 1px solid black;

       }





    


        .box-top { 
            flex-wrap: wrap;
            width: 400px;
            height: 100%;
            background-color:var(--white);
            border-radius: 24px; 
            border-color: black 20px;
            margin:auto;
            /* margin-top: 100px; */
            /* border-style: thin; */
            border: 1px solid;
            
            
        }

        .stor-text{

           
            font-size: 28px;
            font-family: var(--font-base);
            padding: 9px;
          
            margin:0;
            font-weight: 400;

        }
        
        .liten-text{
            font: var(--font-base);
            font-size: var(--text-body);
            position: relative;
            display: inline-block;
            padding: 9px; 
            /* bottom: 15px; */
        

        }

  


        

        .box-bottom{
            flex-wrap: wrap;
            width: 400px;
            height: 100%;
            background-color:var(--white);
            border-radius: 24px; 
            border-color: black 20px;
            margin:auto;
            border: 1px solid;
        }



.Ready-To-Transform{

    display: grid;
    


    background-color: var(--green);
    padding: auto;

}


.about-hero{

    color: white;
    font-weight: 400;

}

.p-about-hero{

    color:white;
    font-weight: 400;


}




.ourstory{

    font-weight: 400;
    text-align: center;

}

.p-ourstory{

    font-weight: 400;
    text-align: center;
    padding: 50px;

}





.h2-transform{

    color: white;

    font-weight: 400;

    

}

.p-transform{

color:white;
font-weight: 400;


}

.h2-contact-us{

    font-weight: 400;
    text-align: center;

}


.p-contact-us{

     font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -20px;

}

.Contact-us{


    
     border: 1px solid black;
    border-radius: 15px; /* Justera värdet för mer/mindre rundning */
    padding: 20px;
    margin: 20px;
 




}


.row1{
  display: flex;       /* Aktiverar flexbox */
  gap: 10px;           /* Skapar mellanrum mellan fälten */
  margin-bottom: 10px; /* Avstånd till nästa rad i formuläret */
  width: 100%;  
  
}

.row2{ 
  display: flex;       /* Aktiverar flexbox */
  gap: 10px;           /* Skapar mellanrum mellan fälten */
  margin-bottom: 10px; /* Avstånd till nästa rad i formuläret */
  width: 100%;
 
}


.textarea{

resize: vertical

}




label {
    
    width: 100%;
    display: block;      /* Gör att varje etikett börjar på en ny rad */
    margin-bottom: 10px; /* Skapar mellanrum mellan fälten */
    border-radius: 30px;
    width: 100%;
    font-size: var(--text-f);
    font-weight: 400;



}

input {
  flex: 1;           
  display: block; 
  height: 50px;
  border-radius: 10px; 
  border: 1px solid #ccc;
  width: 100%;

}


.send-message{

    width: 800px;
    height: 50px;
    border-radius: 10px;
    background: var(--green);
    font-family: var(--font-base);
    font-size: 16px;
    text-align: center;

    position: center;
    width: 100%;
    

}







 footer {
    background-color: var(--dkblue); 
    padding: 60px 80px 30px;
    font-family: var(--font-base);
    font-size: var(--text-f);
    /* max-width: 1240px;
    margin: 0 auto; */
} 


.footer-container {
    display: grid;
    
    grid-template-columns: 1fr auto auto;
    gap: 100px; 
 
} 




.brand-info {
    max-width: 350px;
}

/* .logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
} */


.logo-image {
    width: 100px; 
    height: 100px; 
    /* border-radius: 50%;  */
    /* margin-bottom: 10px; 
    object-fit: cover;
    max-width: 100%; */
    aspect-ratio: 1 / 1;

}

.company-name {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}


 /* .tagline {
    color: var(--accent-color);
    font-size: 10px;
    margin-top: 4px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}  */

.description {
    font-size: 12px;
    margin-top: 30px;
    line-height: 1.6;
    color: var(--white);
}

/* --- Contact --- */
h4 {
    /* color: var(--text-light); */
    margin-bottom: 20px;
    font-size: 16px;
    font-family: var(--font-base);
    color: var(--white);
}




.contact-section p, .links-section li {
    font-size: 12px;
    /* color: var(--text-faded); */
    margin: 10px 0;
    line-height: 1.4;
    color: var(--white);
}

.links-section ul {
    list-style: none;
    padding: 0;
}

.links-section a {
    color: inherit;
    text-decoration: none;
}


.footer-bottom {
    text-align: center;
    margin-top: 50px;

}

.footer-bottom hr {
    border: none;
    /* border-top: 1px solid var(--text-faded); */
    border: 0.3px solid var(--white);
    border-bottom: none;

    margin-bottom: 20px;
    
}

.footer-bottom p {
    font-size: 12px;

    
    color: var(--white);
}


 @media (max-width: 768px) {

    .container{

  grid-template-columns: 1fr; 
        gap: 10px;
        padding: 10px 5%;

    }


    .footer-container {
        grid-template-columns: 1fr; 
        gap: 40px;
        padding: 40px 5%;
    }

    footer {
        padding: 40px 5% 30px;
    }

} 




