/*=========================================
Hero section on landing page
===========================================*/
.hero {
background:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("assets/assets/photos/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 619px;
    display: grid;
    place-items: center;
}

.heroContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin: 0 auto;
    text-align: center;
    color: var(--white);
}

.heroContent h1, .heroContent p{
    margin: 0;
    font-weight: 400;
    padding: 0 25px 0 25px;
}

.heroButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.heroButtons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    border-radius: 10px;
    padding: 16px 32px 16px 32px;
    width: 209px;
    height: 73px;
}

.heroBook {
    background: linear-gradient(to left, var(--gblue), var(--green));
    border: 0;
}

.heroLearn  {
    background: transparent;
    border: 1px solid var(--white);
}

@media (max-width: 600px) {
    .heroButtons {
        flex-direction: column;
        gap: 20px;
    }
    .heroContent h1 {
        font-size: var(--text-h2);
    }
}

/*=========================================
Check in/check out on landing page
===========================================*/

/*Background with ombre*/
.bookingSearch {
    background: linear-gradient(to left, var(--gblue), var(--green));
    padding: 40px 0 40px 0;
} 

.bookingForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

/*All fonts having the same design*/
.defaultFont {
    font-size: var(--textForm);
    font-family: var(--fontBase);
    font-weight: 600;
}

.formItemFlex {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey);
    border-radius: 15px;
    background: var(--white);
    padding: 16px 12px 16px 12px;
    width: 230px;
    height: 90px;
}

.bookingForm label{
    justify-content: center;
    text-align: center;
}

select {
    background-color: transparent;
    border: 0;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}

.bookingForm input {
    background-color: transparent;
    border: 1px;
}

button {
    padding: 16px 12px 16px 12px;
    border: 0;
    background: var(--black);
    color: var(--white);
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    width: 230px;
    height: 90px;
}

.bookingForm button:hover {
    background: var(--grey);
}
/*For screens less than 1050px I want to have two elements/row instead of 3/4*/
@media (max-width: 1050px)  {
    .bookingForm{
    display: grid;
    grid-template-columns: repeat(2, 230px);
    column-gap: 22px;
    place-items: center;
}
}
@media (max-width: 600px) {
    .bookingForm {
        display: grid;
        grid-template-columns: repeat(1, 230px);
        column-gap: 22px;
        place-items: center;
    }
}

/*=========================================
Our vision on landing page
===========================================*/
.vision {
    background-color: var(--white);
    text-align: center;
    padding: 40px 0;
}

.vision h2 {
    margin: 0 0 16px 0;
    color: var(--black);
    font-weight: 400;
}

.vision p {
    font-family: 'Montserrat';
    max-width: 750px;
    margin: 0 auto 48px auto;
    color: var(--black);
}
.cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    justify-content: center;
    gap: 15px;
}

.card {
    width: 270px;
    height: 412px;
    border: 1px solid var(--grey);
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

.card h3 {
    font-weight: 400;
    color: var(--black);
    font-size: var(--text-h3);
}

.card p {
    color: var(--black);
    font-size: var(--text-body);
    font-weight: 400;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #88DC84;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.card-icon {
    width: 32px;
    height: 32px;
}

@media (max-width: 1130px) {
    .cards-grid {
        grid-template-columns: repeat(2, 270px);
        gap: 40px;
    }

        .vision p {
            max-width: 585px;
        }
}

@media (max-width: 600px) {
    .cards-grid {
        grid-template-columns: 1fr;
        gap: 32px;
        justify-items: center;
    }

        .vision p {
            max-width: 260px;
        }
}

/*=========================================
Sustainablility on landing page
===========================================*/
.sustain {
    background-color: #D4FFF3;
    text-align: center;
    padding: 40px 0;
    font-family: var(--fontBase);
}

.sustain h2 {
    margin: 0 0 16px 0;
    color: var(--black);
    font-weight: 400;
}

.sustain p {
    margin: 0 auto 48px auto;
    color: var(--black);
    font-size: 24px;
    font-weight: 400;
}

.s-cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 265px);
    justify-content: center;
    gap: 15px;
}

.s-card {
    width: 265px;
    height: 380px;
    border: 1px solid var(--grey);
    border-radius: 20px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.s-card h3 {
    font-weight: 400;
    color: var(--green);
    font-size: var(--text-h3);
    margin: 30px 0 0 0;
}

.s-card h4 {
    font-weight: 400;
    color: var(--black);
    font-size: 28px;
}

.s-card p {
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
}

.s-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #88DC84;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.s-card-icon {
    width: 32px;
    height: 32px;
}

@media (max-width: 1130px) {
    .s-cards-grid {
        grid-template-columns: repeat(2, 270px);
        gap: 40px;
    }
}

@media (max-width: 600px) {
    .s-cards-grid {
        grid-template-columns: 1fr;
        gap: 32px;
        justify-items: center;
    }
}

/*=========================================
Ready to Transform on landing page
===========================================*/
.readyToTransform {
    border-top: 4px solid var(--white); /*For myself*/
    background: linear-gradient(to left, var(--gblue), var(--green));
    padding: 50px 0 50px 0;
}

.readyToTransform .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
    row-gap: 30px;
}

.readyToTransform h2, .readyToTransform p {
    margin: 0;
    color: var(--white);
    font-weight: 400;
    padding: 0 20px 0 20px;
}

.readyToTransform p {
    font-size: var(--text-h3);
}

.readyToTransform p span {
    display: block;
}

.readyToTransform button {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 73px;
    border-radius: 10px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--green);
    font-weight: 600;
    text-decoration: none;
}

/*For screens less than 1040px i want <p> to flow*/
@media (max-width: 1040px) {
    .readyToTransform p span {
        display: inline;
    }
}

/*For screens less than 690px I'm changing to smaller font size*/
@media (max-width: 690px) {
    .readyToTransform h2 {
        font-size: var(--text-h3);
    }
        .readyToTransform p {
            font-size: var(--textForm);
        }
}