/*=========================================
Hero section on landing page
===========================================*/
.hero {
    background: #00000099 
    /* height: 760px; */
}

.heroContent {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 80px 0;
    color: var(--white);
}

.heroContent h1, .heroContent p{
    margin: 0;
    font-weight: 400;
}

.heroButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.heroButtons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    border-radius: 10px;
    padding: 16px 32px 16px 32px;
    width: 209px;
    height: 73px;
}

.heroBook {
    background: linear-gradient(to left, var(--green), var(--gblue));
    border: 0;
}

.heroLearn  {
    background: transparent;
    border: 1px solid var(--white);
}

@media (max-width: 600px) {
    .heroButtons {
        flex-direction: column;
        gap: 20px;
    }
    .heroContent h1 {
        font-size: var(--text-h2);
    }
}

/*=========================================
Check in/check out on landing page
===========================================*/

/*Background with ombre*/
.bookingSearch {
    background: linear-gradient(to left, var(--green), var(--gblue));
    padding: 40px 0 40px 0;
    border-top: 4px solid var(--white); /*For myself*/
} 

.bookingForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

/*All fonts having the same design*/
.defaultFont {
    font-size: var(--textForm);
    font-family: var(--fontBase);
    font-weight: 600;
}

.formItemFlex {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey);
    border-radius: 15px;
    background: var(--white);
    padding: 16px 12px 16px 12px;
    width: 230px;
    height: 90px;
}

.bookingForm label{
    justify-content: center;
    text-align: center;
}

select {
    background-color: transparent;
    border: 0;
    justify-content: center;
    text-align: center;
    padding-top: 15px;
}

.bookingForm input {
    background-color: transparent;
    border: 1px;
}

button {
    padding: 16px 12px 16px 12px;
    border: 0;
    background: var(--black);
    color: var(--white);
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    width: 230px;
    height: 90px;
}

.bookingForm button:hover {
    background: var(--grey);
}
/*For screens less than 990px I want to have to elements/row instead of 3/4*/
@media (max-width: 990px)  {
    .bookingForm{
    display: grid;
    grid-template-columns: repeat(2, 230px);
    column-gap: 22px;
    place-items: center;
}
}
@media (max-width: 600px) {
    .bookingForm {
        display: grid;
        grid-template-columns: repeat(1, 230px);
        column-gap: 22px;
        place-items: center;
    }
}