/* ===== Header och Navigationsmenyn ===== Denna ska vara samma för alla sidor*/

.site-header {
    background: var(--white);
    width: 100%;
    height: 147px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    gap: 10px;
}

/* Logon i headen */
.nav-logo {
    display: flex;
    align-items: center;
    width: 322px;
    height: 78px;
    opacity: 1;
}

.nav-logo img {
    height: 78px;
    width: auto;
    display: block;
}

/* Navigerings länkarna */
.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 24px;
    color: var(--black);
}

/* hover effekt för navigeringsknapparna */
.nav-links a:hover {
    color: var(--green);
}

/* Visar vilken sida som är vald */
.nav-links a.active {
    color: var(--green);
    font-weight: 700;
}

/* CTA-knapp (Call to action) */
.nav-cta {
    text-decoration: none;
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 24px;
    color: var(--white);
    background-color: var(--green);
    padding: 16px 32px;
    border-radius: 10px;
    white-space: nowrap;
}

/* hover för CTA-knappen */
.nav-cta:hover {
    filter: brightness(1.05);
}


/*=========================================
Check in/check out on landing page
===========================================*/

/*Background with ombre*/
.bookingSearch {
    background: linear-gradient(to left, var(--green), var(--gblue));
    padding: 40px 0 40px 0;
} 

.bookingForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
/*All fonts having the same design*/
.defaultFont {
    font-size: var(--textForm);
    font-family: var(--fontBase);
    font-weight: 600;
}

.formItemFlex {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey);
    border-radius: 15px;
    background: var(--white);
    padding: 16px 12px 16px 12px;
    width: 230px;
}

.bookingForm label{
    justify-content: center;
    text-align: center;
}

select {
    background-color: transparent;
    border: 0;
    justify-content: center;
    text-align: center;
}

.bookingForm input {
    background-color: transparent;
    border: 1px;
}

button {
    padding: 16px 12px 16px 12px;
    width: 230px;
    border: 1px;
    background: var(--black);
    color: var(--white);
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}
/*For screens less than 990px I want to have to elements/row instead of 3/4*/
@media (max-width: 990px)  {
    .bookingForm{
    display: grid;
    grid-template-columns: repeat(2, 230px);
    column-gap: 22px;
    place-items: center;
}
}
/*=========================================
End Check in/check out on landing page
===========================================*/